.list {
  padding: 15px 0;
}

.list h1 {
  margin: 15px 0;
}

.list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list li {
  padding: 0;
  margin: 15px 0;
  border: 2px dodgerblue solid;
}
