.todoItem {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.todoItem:hover {
  background-color: rgba(0,0,0,.1);
}

.todoItem h2 {
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: normal;
}

.todoItem h2 > span {
  font-weight: bold;
}

.todoItem[data-todo-priority] {
  border-left-width: 10px;
  border-left-style: solid;
}

.todoItem[data-todo-priority="critical"] {
  border-left-color: red;
}
.todoItem[data-todo-priority="high"] {
  border-left-color: darkorange;
}
.todoItem[data-todo-priority="middle"] {
  border-left-color: teal;
}
.todoItem[data-todo-priority="low"] {
  border-left-color: lightblue;
}

.todoItem .desc {
  padding: 15px 0 0;
  font-size: 1rem;
}

.todoItem button {
  padding: 6px 4px;
  font-size: 0.85rem;
  line-height: 1;
}
